body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

h1 {
    color: #888;
    margin-bottom: 20px;
}

.calc-body {
    background-color: #333;
    border: 2px solid #555;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 60vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: 2px solid #555;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #222;
    color: #fff;
}

.output {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #888;
}

.button-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #444;
    color: #fff;
    border: 2px solid #555;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

.equals-button, .backspace-button {
    background-color: #777;
}

.equals-button:hover, .backspace-button:hover {
    background-color: #888;
}

.clear-button {
    background-color: #ffcc00; /* Yellow color */
}

.clear-button:hover {
    background-color: #ffdd33; /* Lighter yellow color on hover */
}

.variables {
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    background-color: #555;
    border-radius: 8px;
}

.variables h2 {
    margin-bottom: 10px;
    color: #fff;
}

.fields input {
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 5px 10px;
    margin-bottom: 10px;
    width: 150px;
}
