.chart-container {
  position: relative;
  height: 300px; /* Adjust the height as needed */
}

.chart {
  height: 100%;
}

input,
select,
button {
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}
